$main-color-dark: #1d1d1d;

$secondary-color-gray: #c2c2c2;
$color-white: #fff;

$page-small-gap: 24px;
$page-big-gap: 48px;

$half-line: 8px;
$one-line: 16px;
$double-line: 32px;

$duration: 0.5s;

$header-padding-big: 40px;
$header-padding-small: 30px;
